<div class="container">

        <div class="row">

            <div class="col-lg-4 col-md-4 col-xs-4 thumb">
                <div class="thumbnail">
                    <img class="img-responsive" src="{{shot.image_url}}" alt="">
                    <div class="caption" id="legenda">
                    	{{shot.title}}
                    	<span class="pull-right glyphicon glyphicon-eye-open" aria-hidden="true"> {{shot.views_count}}</span>
                    </div>
                    <div class="caption">
                        <ul class="media-list">
                            <li class="media">
                              <div class="media-left media-middle">
                                  <img class="media-object img-circle foto" src="{{shot.player.avatar_url}}">
                              </div>
                              <div class="media-body">
                                <h4 class="media-heading">{{shot.player.name}}</h4>
                              </div>
                            </li>
                            <li class="media">
                                <span ng-bind-html="shot.description"></span>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
</div>